.footer {
  width: 100%;
  height: 232px;
  padding: 32px 36px;

  display: flex;
  justify-content: space-between;
  gap: 189px;
}

.left_side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left_side_text {
  font-size: var(--font-size-caption);
  font-family: var(--font-family-caption);
  font-weight: var(--font-weight-caption);
  line-height: var(--font-line-height-caption);
  color: var(--font-color-secondary);
}

.right_side {
  display: flex;
  align-items: center;
  gap: 24px;
}

.right_side_item {
  width: 324px;
  /* width: 100%; */

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.link {
  font-size: var(--font-size-main);
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-caption);
  color: var(--font-color-secondary);
  line-height: var(--font-line-height-main);
  white-space: nowrap;
  text-decoration: none;
}

.link:hover {
  color: var(--font-color-link);
}
