.footer {
  width: 100%;
  min-height: 232px;
  padding: 32px 36px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  gap: 32px;
  flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .footer {
    padding: 24px 24px;
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 16px 16px;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.left_side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .left_side {
    align-items: center;
  }
}

.left_side_text {
  font-size: var(--font-size-caption);
  font-family: var(--font-family-caption);
  font-weight: var(--font-weight-caption);
  line-height: var(--font-line-height-caption);
  color: var(--font-color-secondary);
}

.right_side {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .right_side {
    gap: 16px;
    justify-content: center;
  }
}

.right_side_item {
  flex: 1;
  min-width: 200px;
  max-width: 324px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (max-width: 768px) {
  .right_side_item {
    max-width: 100%;
    min-width: 100%;
  }
}

.link {
  font-size: var(--font-size-main);
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-caption);
  color: var(--font-color-primary);
  line-height: var(--font-line-height-main);
  white-space: nowrap;
  text-decoration: none;
}

.link:hover {
  color: var(--font-color-link);
}
