.button {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: var(--font-size-main);
  border-radius: var(--font-size-caption);
  font-weight: var(--font-weight-main);
  line-height: var(--font-line-height-header-s);
  font-family: var(--font-family-main);
  color: var(--font-color-primary);
  background-color: transparent;
  border: none;
}

.primary {
  background-color: var(--font-color-accent);
  padding: 12px 24px;
}

.primary:hover {
  background-color: var(--button-color-hover);
}

.primary:active {
  background-color: var(--font-color-link);
  color: var(--input-bg);
}

.primary:disabled {
  background-color: var(--button-color-disabled);
  color: var(--font-color-secondary);
}

.secondary {
  background-color: var(--input-bg);
  border: 1px solid var(--font-color-accent);
  padding: 12px 24px;
}

.secondary:hover {
  border: 1px solid var(--button-color-hover);
  color: var(--font-color-secondary);
}

.secondary:active {
  border: 1px solid var(--font-color-link);
  color: var(--font-color-primary);
}

.secondary:disabled {
  border: 1px solid var(--button-color-disabled);
  color: var(--font-color-disabled);
}

.tertiary {
  background-color: var(--card-bg);
  padding: 12px 24px;
}

.tertiary:disabled {
  border: 1px solid var(--button-color-disabled);
  color: var(--font-color-disabled);
}

.tertiary:hover {
  border: 1px solid var(--button-color-hover);
  color: var(--font-color-secondary);
}

.button__show-all {
  background-color: var(--card-bg, #fff);
  padding: 12px 24px;
  border-radius: 12px;
}