@import '../../../app/styles/fonts.scss';

.title {
  color: var(--font-color-primary);
  font-family: var(--font-family-header);
  font-weight: var(--font-weight-header);
  letter-spacing: var(--letter-spacing-tight);
}

.lg {
  font-size: var(--font-size-header-l);
  line-height: var(--font-line-height-header-l);
}

.md {
  font-size: var(--font-size-header-m);
  line-height: var(--font-line-height-header-m);
}

.sm {
  font-size: var(--font-size-header-s);
  line-height: var(--font-line-height-header-s);
}

.xs {
  font-size: var(--font-size-header-xs);
  line-height: var(--font-line-height-header-xs);
  letter-spacing: var(--letter-spacing-wide);
  font-family: var(--font-family-header-xs);
}