.filterWrapper {
  width: 284px;
  font-weight: 400;
  font-size: 16px;
  font-family: "Roboto", "Jost", sans-serif;
  text-align: left;
}

.title {
  margin: 0 0 20px;
  font-weight: var(--font-weight-header);
  font-size: var(--font-size-header-s);
  font-family: var(--font-family-header);
  line-height: var(--font-line-height-header-s);
}

.subListEnter {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.subListEnterActive {
  max-height: 500px;
  opacity: 1;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.subListExit {
  max-height: 500px;
  opacity: 1;
  overflow: hidden;
}

.subListExitActive {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.categoryList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.subcategoryList {
  margin-top: 12px;
  padding-left: 32px;
  list-style: none;
  overflow: hidden;
}

.categoryItem {
  width: 100%;
}

.categoryHeader {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.subcategoryItem {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.subcategoryItem:hover .subcategoryName {
  color: var(--font-color-accent);
}

.categoryName {
  flex-grow: 1;
  color: var(--font-color-primary);
  font-size: 16px;
  /*line-height: 1.3;*/
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.checkbox {
  flex-shrink: 0;
}

.chevron {
  flex-shrink: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 24px;
  height: 24px;
  transition: transform 0.2s ease-in-out;
}

.chevronIcon {
  width: 20px;
  height: 20px;
  color: var(--font-color-primary);
  transition: transform 0.25s ease, color 0.2s ease;
}

.expanded .chevronIcon {
  transform: rotate(180deg);
}

.categoryHeader.expanded .chevronIcon {
  transform: rotate(180deg);
  color: var(--font-color-accent);
}